<tr id="question_<%= question.id %>">
  <td><%= question.position.to_s %></td>
  <td><%= question.question_text %></td>
  <td>
    <div class="btn-group">
      <%- link_to survey_question_path(question), {:class => 'btn btn-primary'} do %>
          <span class="glyphicon.glyphicon-search"></span>&nbsp;
          <%= t('common.show') %>
      <% end %>
      <%- link_to [:edit, question.survey, question], {:class => 'btn btn-primary'} do %>
          <span class="glyphicon.glyphicon-search"></span>&nbsp;
          <%= t('common.edit') %>
      <% end %>
      <%- link_to [question.survey, question], method: :delete, confirm: t('common.are_you_sure'), :class => 'btn btn-danger' do %>
          <span class="glyphicon.glyphicon-search"></span>&nbsp;
          <%= t('common.delete') %>
      <% end %>
      <%- link_to [question.survey, question], method: :delete, confirm: t('common.are_you_sure'), :class => 'btn btn-danger' do %>
          <span class="glyphicon.glyphicon-search"></span>&nbsp;
          <%= t('common.delete') %>
      <% end %>
    </div>
  </td>
</tr>

<ul class="nav nav-pills">
  <li><%= link_to t('common.show'), question %></li>
  <li><%= link_to t('common.back'), survey_questions_path(question.survey) %></li>
</ul>
