

<%= form_for survey do |f| %>
  <%- if survey.errors.any? %>
    <ul>
      <%- survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


    <div class="panel panel-default">
      <div class="panel-heading"><h3><%= survey.new_record? ? t('surveys.new_survey') : t('surveys.edit_survey') %></h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label><%= f.label :name %></label><br/>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <label><%= f.label :introduction %></label><br/>
          <%= f.text_area :introduction %>
        </div>

        <div class="form-group">
          <label><%= f.label :after_survey_content %></label><br/>
          <%= f.text_area :after_survey_content %>
        </div>



        <div class="form-group">
          <label><%= t('activerecord.attributes.rapidfire/survey.weight') %></label>
          <p class="help-block"><%= t('surveys.help.survey.weight')%></p>
          <%= f.number_field :weight %>
        </div>
      </div>
    </div>

    <%= f.submit t('common.save'), :class => 'button button--default' %>
<% end %>

<ul class="nav nav-pills">
  <li><%= link_to t('common.back'), surveys_path, {:class => 'button button--default'} %></li>
</ul>
