
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
  <%= t('common.surveys') %>
</h2>
  <% if can_administer? %>
    <%= link_to t('surveys.new_survey'), new_survey_path, {:class => 'button button--default'} %>
  <% end %>

<hr/>

<table class="table table-striped">

  <thead>
    <tr>
      <th><%= t('application_steps.survey') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "survey", collection: @surveys %>
  </tbody>
</table>

<p>
    <%= link_to t('common.back'), '/backend/', {:class => 'button button--default'} %>
</p>

<% if defined?(Kaminari) %>
  <%= paginate @surveys %>
<% end %>

</div>
